{% extends "leetspeak/layout.html" %}

{% block title %}Hello, world!{% endblock %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">

<table class="table table-hover">
  <thead>
    <tr>
    {% for header in field.headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in field.rows %}
    <tr>
        {% for value in row %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
